@model List<Training.Models.Entity.Employee>

@{
    ViewData["Title"] = "EmployeeView";
}

<h2>Employee List</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Department</td>
                <td>
                    <h1><a asp-action="Delete" asp-controller="Employee" asp-route-Id="@employee.Id" class="btn btn-primary">Delete</a></h1>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("EmployeeSave")">Add New Employee</a>
